---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"client_id":"5c4a52c1d8717a0010e51786","secret":"044ab14f6e4d543f24112732257f90","access_token":"access-sandbox-671115af-db95-4c31-912a-6fb2d05d254b","start_date":"2018-01-01","end_date":"2018-03-15"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "accounts": [
            {
              "account_id": "6KLmMWjZVpuGeG73zAWyuQ8ZdZwKP8tgZAGM5",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "XkQ1lnvZmxskjk5lv79KuKBpEpv1zBFdZlyzr",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=United%20Airlines
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "United Airlines",
          "domain": "united.com",
          "logo": null
        }
  recorded_at: Fri, 25 Jan 2019 19:49:14 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=Uber%20072515%20SF**POOL**
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:14 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=Tectra%20Inc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:15 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=AUTOMATIC%20PAYMENT%20-%20THANK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:15 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=KFC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "KFC",
          "domain": "kfc.com",
          "logo": "https://logo.clearbit.com/kfc.com"
        }
  recorded_at: Fri, 25 Jan 2019 19:49:20 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=Madison%20Bicycle%20Shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:21 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=CREDIT%20CARD%203333%20PAYMENT%20*//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:21 GMT
[...]
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=ACH%20Electronic%20CreditGUSTO%20PAY%20123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:22 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=CD%20DEPOSIT%20.INITIAL.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:22 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=Touchstone%20Climbing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Touchstone Climbing",
          "domain": "touchstoneclimbing.com",
          "logo": "https://logo.clearbit.com/touchstoneclimbing.com"
        }
  recorded_at: Fri, 25 Jan 2019 19:49:22 GMT
[...]
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=McDonald%27s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "McDonald's",
          "domain": "mcdonalds.com",
          "logo": "https://logo.clearbit.com/mcdonalds.com"
        }
  recorded_at: Fri, 25 Jan 2019 19:49:23 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=Starbucks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Starbucks",
          "domain": "starbucks.com",
          "logo": "https://logo.clearbit.com/starbucks.com"
        }
  recorded_at: Fri, 25 Jan 2019 19:49:23 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=SparkFun
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:23 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=INTRST%20PYMNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:24 GMT
[...]
- request:
    method: get
    uri: https://company.clearbit.com/v1/domains/find?name=Madison%20Bicycle%20Shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_09bc43a09ed1f3c8a383d2df58f2d2de
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Account-Id:
      - f98a9604-c4f7-4fde-9518-4142515dd2cf
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 25 Jan 2019 19:49:35 GMT
recorded_with: VCR 4.0.0
